# Server
PORT=8080
GIN_MODE=debug

# Supabase
SUPABASE_URL=https://idsghpogjtntlzcxhwff.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imlkc2docG9nanRudGx6Y3hod2ZmIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODg2MTcyNTUsImV4cCI6MjEwNDE5MzI1NX0.XWbKjZYsoY3P_OkF7qlixt7l2FRjOPt-8qNT-s0apYI
SUPABASE_SERVICE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imlkc2docG9nanRudGx6Y3hod2ZmIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODg2MTcyNTUsImV4cCI6MjEwNDE5MzI1NX0.XWbKjZYsoY3P_OkF7qlixt7l2FRjOPt-8qNT-s0apYI

# Upstash Redis
UPSTASH_REDIS_REST_URL=https://special-duckling-79859.upstash.io
UPSTASH_REDIS_REST_TOKEN=gQAAAAAAATfzAAIgcDIwMzBkMWM1MDAxMGM0YzhkYjI0YTU5ZjdiYTJjNDcxYQ